# Preparing the data

In [1]:
cd
global eyear=2020
global mwage20=7.25 // federal minimum wage for 2020

C:\Users\Rafael\Eco 727 - Project\Analysis

# 1. Combining the CPS and CPI data sets

In [2]:
use "..\Data\cps"
describe
summarize

Contains data from ..\Data\cps.dta
  obs:     6,777,577
 vars:            35                          11 FEB 2021 20:59
 size:   664,202,546
--------------------------------------------------------------------------------
              storage   display    value
variable name   type    format     label      variable label
--------------------------------------------------------------------------------
year            int     %8.0g                 survey year
serial          long    %12.0g                household serial number
month           byte    %8.0g      MONTH      month
hwtfinl         double  %12.0g                household weight, basic monthly
cpsid           double  %12.0g                cpsid, household record
asecflag        byte    %8.0g      ASECFLAG   flag for asec
mish            byte    %8.0g      MISH       month in sample, household level
region          byte    %8.0g      REGION     region and division
metro           byte    %8.0g      METRO      metropolitan central city status
pernum          byte    %8.0g                 person number in sample unit
wtfinl          double  %12.0g                final basic weight
cpsidp          double  %12.0g                cpsid, person record
relate          int     %8.0g      RELATE     relationship to household head
age             byte    %8.0g      AGE        age
sex             byte    %8.0g      SEX        sex
race            int     %8.0g      RACE       race
marst           byte    %8.0g      MARST      marital status
hispan          int     %8.0g      HISPAN     hispanic origin
empstat         byte    %8.0g      EMPSTAT    employment status
labforce        byte    %8.0g      LABFORCE   labor force status
occ1990         int     %8.0g      OCC1990    occupation, 1990 basis
ind1990         int     %8.0g      IND1990    industry, 1990 basis
classwkr        byte    %8.0g      CLASSWKR   class of worker
uhrsworkt       int     %8.0g      UHRSWORKT
                                              hours usually worked per week at
                                                all jobs
uhrswork1       int     %8.0g      UHRSWORK1
                                              hours usually worked per week at
                                                main job
wkstat          byte    %8.0g      WKSTAT     full or part time status
educ            int     %8.0g      EDUC       educational attainment recode
higrade         int     %8.0g      HIGRADE    highest grade of school
earnwt          double  %12.0g                earnings weight
qearnwee        byte    %8.0g      QEARNWEE   data quality flag for earnweek
hourwage        double  %12.0g                hourly wage
union           byte    %8.0g      UNION      union membership
earnweek        double  %12.0g                weekly earnings
uhrsworkorg     int     %8.0g                 usual hours worked per week,
                                                outgoing rotation groups
eligorg         byte    %8.0g      ELIGORG    (earnings) eligibility flag
--------------------------------------------------------------------------------
Sorted by:


    Variable |        Obs        Mean    Std. Dev.       Min        Max
-------------+---------------------------------------------------------
        year |  6,777,577    1999.192    11.78595       1982       2020
      serial |  6,777,577    34581.93     20256.6          1      74625
       month |  6,777,577    6.515042    3.453532          1         12
     hwtfinl |  5,097,971    2130.732    1181.666          0   34716.21
       cpsid |  6,777,577    2.00e+13    1.17e+11   1.98e+13   2.02e+13
-------------+---------------------------------------------------------
    asecflag |    558,838           2           0          2          2
        mish |  6,777,577    5.855871    2.078991          1          8
      region |  6,777,577    27.23336    10.76463         11         42
       metro |  6,693,443    2.165721    1.128761          0          4
      pernum |  6,777,577     1.67526     .937375          1         22
-------------+---------------------------------------------------------
      wtfinl |  6,777,577    2033.844     1156.62      19.86   34716.21
      cpsidp |  6,777,577    2.00e+13    1.17e+11   1.98e+13   2.02e+13
      relate |  6,777,577    248.5837    290.8129        101       1260
         age |  6,777,577    38.72579    12.22406         18         64
         sex |  6,777,577    1.485784    .4997979          1          2
-------------+---------------------------------------------------------
        race |  6,777,577    140.0783    129.0704        100        830
       marst |  6,777,577    2.805079    2.250843          1          7
      hispan |  6,777,577    29.53084    122.3891          0        902
     empstat |  6,777,577    10.08637    .4065516         10         12
    labforce |  6,777,577           2           0          2          2
-------------+---------------------------------------------------------
     occ1990 |  6,777,577    361.4745    248.3086          3        889
     ind1990 |  6,777,577    595.0538    270.0302         10        932
    classwkr |  6,777,577    22.58339    2.100391         13         28
   uhrsworkt |  4,247,134    103.8551    239.0951          0        997
   uhrswork1 |  6,777,577    146.1173    302.1636          0        999
-------------+---------------------------------------------------------
      wkstat |  6,777,577    14.74371     9.79106         10         42
        educ |  6,777,577    85.10786    23.17121          2        125
     higrade |  2,194,769    159.7881    26.97865          0        210
      earnwt |  6,777,577    7689.449    5024.939          0   133411.1
    qearnwee |  3,975,390    1.263762    1.859558          0          4
-------------+---------------------------------------------------------
    hourwage |  6,777,577    460.2641    491.7694        .01     999.99
       union |  5,943,723    1.174041    .4212958          0          3
    earnweek |  6,777,577    1347.671    2521.372        .01    9999.99
 uhrsworkorg |  5,097,971    483.9241    479.9508          1        999
     eligorg |  6,777,577           1           0          1          1

From our original CPS extract we can see that we have roughly 6.77 million observations on 35 variables.

Before we clean up the CPS data, we import and reshape the CPI data to later merge them.

### Import CPI data 1982-2020

In [3]:
import excel "..\Data\cpi.xlsx", cellrange(A12:M51) firstrow clear
list

     +------------------------------------------------------------------+
  1. | Year |     Jan |     Feb |     Mar |     Apr |     May |     Jun |
     | 1982 |    94.3 |    94.6 |    94.5 |    94.9 |    95.8 |      97 |
     |------------------------------------------------------------------|
     |     Jul  |     Aug  |     Sep  |     Oct  |     Nov  |      Dec  |
     |    97.5  |    97.7  |    97.9  |    98.2  |      98  |     97.6  |
     +------------------------------------------------------------------+

     +------------------------------------------------------------------+
  2. | Year |     Jan |     Feb |     Mar |     Apr |     May |     Jun |
     | 1983 |    97.8 |    97.9 |    97.9 |    98.6 |    99.2 |    99.5 |
     |------------------------------------------------------------------|
     |     Jul  |     Aug  |     Sep  |     Oct  |     Nov  |      Dec  |
     |    99.9  |   100.2  |   100.7  |     101  |   101.2  |    101.3  |
     +------------------------------------------------------------------+

     +------------------------------------------------------------------+
  3. | Year |     Jan |     Feb |     Mar |     Apr |     May |     Jun |
     | 1984 |   101.9 |   102.4 |   102.6 |   103.1 |   103.4 |   103.7 |
     |------------------------------------------------------------------|
     |     Jul  |     Aug  |     Sep  |     Oct  |     Nov  |      Dec  |
     |   104.1  |   104.5  |     105  |   105.3  |   105.3  |    105.3  |
     +------------------------------------------------------------------+

     +------------------------------------------------------------------+
  4. | Year |     Jan |     Feb |     Mar |     Apr |     May |     Jun |
     | 1985 |   105.5 |     106 |   106.4 |   106.9 |   107.3 |   107.6 |
     |------------------------------------------------------------------|
     |     Jul  |     Aug  |     Sep  |     Oct  |     Nov  |      Dec  |
     |   107.8  |     108  |   108.3  |   108.7  |     109  |    109.3  |
     +------------------------------------------------------------------+

     +------------------------------------------------------------------+
  5. | Year |     Jan |     Feb |     Mar |     Apr |     May |     Jun |
     | 1986 |   109.6 |   109.3 |   108.8 |   108.6 |   108.9 |   109.5 |
     |------------------------------------------------------------------|
     |     Jul  |     Aug  |     Sep  |     Oct  |     Nov  |      Dec  |
     |   109.5  |   109.7  |   110.2  |   110.3  |   110.4  |    110.5  |
     +------------------------------------------------------------------+

     +------------------------------------------------------------------+
  6. | Year |     Jan |     Feb |     Mar |     Apr |     May |     Jun |
     | 1987 |   111.2 |   111.6 |   112.1 |   112.7 |   113.1 |   113.5 |
     |------------------------------------------------------------------|
     |     Jul  |     Aug  |     Sep  |     Oct  |     Nov  |      Dec  |
     |   113.8  |   114.4  |     115  |   115.3  |   115.4  |    115.4  |
     +------------------------------------------------------------------+

     +------------------------------------------------------------------+
  7. | Year |     Jan |     Feb |     Mar |     Apr |     May |     Jun |
     | 1988 |   115.7 |     116 |   116.5 |   117.1 |   117.5 |     118 |
     |------------------------------------------------------------------|
     |     Jul  |     Aug  |     Sep  |     Oct  |     Nov  |      Dec  |
     |   118.5  |     119  |   119.8  |   120.2  |   120.3  |    120.5  |
     +------------------------------------------------------------------+

     +------------------------------------------------------------------+
  8. | Year |     Jan |     Feb |     Mar |     Apr |     May |     Jun |
     | 1989 |   121.1 |   121.6 |   122.3 |   123.1 |   123.8 |   124.1 |
     |------------------------------------------------------------------|
     |     Jul  |     Aug  |     Sep  |     Oct  |     Nov  |      Dec  |
     |   124.4  |   124.6  |     125  |   125.6  |   125.9  |    126.1  |
     +------------------------------------------------------------------+

     +------------------------------------------------------------------+
  9. | Year |     Jan |     Feb |     Mar |     Apr |     May |     Jun |
     | 1990 |   127.4 |     128 |   128.7 |   128.9 |   129.2 |   129.9 |
     |------------------------------------------------------------------|
     |     Jul  |     Aug  |     Sep  |     Oct  |     Nov  |      Dec  |
     |   130.4  |   131.6  |   132.7  |   133.5  |   133.8  |    133.8  |
     +------------------------------------------------------------------+

     +------------------------------------------------------------------+
 10. | Year |     Jan |     Feb |     Mar |     Apr |     May |     Jun |
     | 1991 |   134.6 |   134.8 |     135 |   135.2 |   135.6 |     136 |
     |------------------------------------------------------------------|
     |     Jul  |     Aug  |     Sep  |     Oct  |     Nov  |      Dec  |
     |   136.2  |   136.6  |   137.2  |   137.4  |   137.8  |    137.9  |
     +------------------------------------------------------------------+

     +------------------------------------------------------------------+
 11. | Year |     Jan |     Feb |     Mar |     Apr |     May |     Jun |
     | 1992 |   138.1 |   138.6 |   139.3 |   139.5 |   139.7 |   140.2 |
     |------------------------------------------------------------------|
     |     Jul  |     Aug  |     Sep  |     Oct  |     Nov  |      Dec  |
     |   140.5  |   140.9  |   141.3  |   141.8  |     142  |    141.9  |
     +------------------------------------------------------------------+

     +------------------------------------------------------------------+
 12. | Year |     Jan |     Feb |     Mar |     Apr |     May |     Jun |
     | 1993 |   142.6 |   143.1 |   143.6 |     144 |   144.2 |   144.4 |
     |------------------------------------------------------------------|
     |     Jul  |     Aug  |     Sep  |     Oct  |     Nov  |      Dec  |
     |   144.4  |   144.8  |   145.1  |   145.7  |   145.8  |    145.8  |
     +------------------------------------------------------------------+

     +------------------------------------------------------------------+
 13. | Year |     Jan |     Feb |     Mar |     Apr |     May |     Jun |
     | 1994 |   146.2 |   146.7 |   147.2 |   147.4 |   147.5 |     148 |
     |------------------------------------------------------------------|
     |     Jul  |     Aug  |     Sep  |     Oct  |     Nov  |      Dec  |
     |   148.4  |     149  |   149.4  |   149.5  |   149.7  |    149.7  |
     +------------------------------------------------------------------+

     +------------------------------------------------------------------+
 14. | Year |     Jan |     Feb |     Mar |     Apr |     May |     Jun |
     | 1995 |   150.3 |   150.9 |   151.4 |   151.9 |   152.2 |   152.5 |
     |------------------------------------------------------------------|
     |     Jul  |     Aug  |     Sep  |     Oct  |     Nov  |      Dec  |
     |   152.5  |   152.9  |   153.2  |   153.7  |   153.6  |    153.5  |
     +------------------------------------------------------------------+

     +------------------------------------------------------------------+
 15. | Year |     Jan |     Feb |     Mar |     Apr |     May |     Jun |
     | 1996 |   154.4 |   154.9 |   155.7 |   156.3 |   156.6 |   156.7 |
     |------------------------------------------------------------------|
     |     Jul  |     Aug  |     Sep  |     Oct  |     Nov  |      Dec  |
     |     157  |   157.3  |   157.8  |   158.3  |   158.6  |    158.6  |
     +------------------------------------------------------------------+

     +------------------------------------------------------------------+
 16. | Year |     Jan |     Feb |     Mar |     Apr |     May |     Jun |
     | 1997 |   159.1 |   159.6 |     160 |   160.2 |   160.1 |   160.3 |
     |------------------------------------------------------------------|
     |     Jul  |     Aug  |     Sep  |     Oct  |     Nov  |      Dec  |
     |   160.5  |   160.8  |   161.2  |   161.6  |   161.5  |    161.3  |

     +------------------------------------------------------------------+

     +------------------------------------------------------------------+
 17. | Year |     Jan |     Feb |     Mar |     Apr |     May |     Jun |
     | 1998 |   161.6 |   161.9 |   162.2 |   162.5 |   162.8 |     163 |
     |------------------------------------------------------------------|
     |     Jul  |     Aug  |     Sep  |     Oct  |     Nov  |      Dec  |
     |   163.2  |   163.4  |   163.6  |     164  |     164  |    163.9  |
     +------------------------------------------------------------------+

     +------------------------------------------------------------------+
 18. | Year |     Jan |     Feb |     Mar |     Apr |     May |     Jun |
     | 1999 |   164.3 |   164.5 |     165 |   166.2 |   166.2 |   166.2 |
     |------------------------------------------------------------------|
     |     Jul  |     Aug  |     Sep  |     Oct  |     Nov  |      Dec  |
     |   166.7  |   167.1  |   167.9  |   168.2  |   168.3  |    168.3  |
     +------------------------------------------------------------------+

     +------------------------------------------------------------------+
 19. | Year |     Jan |     Feb |     Mar |     Apr |     May |     Jun |
     | 2000 |   168.8 |   169.8 |   171.2 |   171.3 |   171.5 |   172.4 |
     |------------------------------------------------------------------|
     |     Jul  |     Aug  |     Sep  |     Oct  |     Nov  |      Dec  |
     |   172.8  |   172.8  |   173.7  |     174  |   174.1  |      174  |
     +------------------------------------------------------------------+

     +------------------------------------------------------------------+
 20. | Year |     Jan |     Feb |     Mar |     Apr |     May |     Jun |
     | 2001 |   175.1 |   175.8 |   176.2 |   176.9 |   177.7 |     178 |
     |------------------------------------------------------------------|
     |     Jul  |     Aug  |     Sep  |     Oct  |     Nov  |      Dec  |
     |   177.5  |   177.5  |   178.3  |   177.7  |   177.4  |    176.7  |
     +------------------------------------------------------------------+

     +------------------------------------------------------------------+
 21. | Year |     Jan |     Feb |     Mar |     Apr |     May |     Jun |
     | 2002 |   177.1 |   177.8 |   178.8 |   179.8 |   179.8 |   179.9 |
     |------------------------------------------------------------------|
     |     Jul  |     Aug  |     Sep  |     Oct  |     Nov  |      Dec  |
     |   180.1  |   180.7  |     181  |   181.3  |   181.3  |    180.9  |
     +------------------------------------------------------------------+

     +------------------------------------------------------------------+
 22. | Year |     Jan |     Feb |     Mar |     Apr |     May |     Jun |
     | 2003 |   181.7 |   183.1 |   184.2 |   183.8 |   183.5 |   183.7 |
     |------------------------------------------------------------------|
     |     Jul  |     Aug  |     Sep  |     Oct  |     Nov  |      Dec  |
     |   183.9  |   184.6  |   185.2  |     185  |   184.5  |    184.3  |
     +------------------------------------------------------------------+

     +------------------------------------------------------------------+
 23. | Year |     Jan |     Feb |     Mar |     Apr |     May |     Jun |
     | 2004 |   185.2 |   186.2 |   187.4 |     188 |   189.1 |   189.7 |
     |------------------------------------------------------------------|
     |     Jul  |     Aug  |     Sep  |     Oct  |     Nov  |      Dec  |
     |   189.4  |   189.5  |   189.9  |   190.9  |     191  |    190.3  |
     +------------------------------------------------------------------+

     +------------------------------------------------------------------+
 24. | Year |     Jan |     Feb |     Mar |     Apr |     May |     Jun |
     | 2005 |   190.7 |   191.8 |   193.3 |   194.6 |   194.4 |   194.5 |
     |------------------------------------------------------------------|
     |     Jul  |     Aug  |     Sep  |     Oct  |     Nov  |      Dec  |
     |   195.4  |   196.4  |   198.8  |   199.2  |   197.6  |    196.8  |
     +------------------------------------------------------------------+

     +------------------------------------------------------------------+
 25. | Year |     Jan |     Feb |     Mar |     Apr |     May |     Jun |
     | 2006 |   198.3 |   198.7 |   199.8 |   201.5 |   202.5 |   202.9 |
     |------------------------------------------------------------------|
     |     Jul  |     Aug  |     Sep  |     Oct  |     Nov  |      Dec  |
     |   203.5  |   203.9  |   202.9  |   201.8  |   201.5  |    201.8  |
     +------------------------------------------------------------------+

     +------------------------------------------------------------------+
 26. | Year |     Jan |     Feb |     Mar |     Apr |     May |     Jun |
     | 2007 | 202.416 | 203.499 | 205.352 | 206.686 | 207.949 | 208.352 |
     |------------------------------------------------------------------|
     |     Jul  |     Aug  |     Sep  |     Oct  |     Nov  |      Dec  |
     | 208.299  | 207.917  |  208.49  | 208.936  | 210.177  |  210.036  |
     +------------------------------------------------------------------+

     +------------------------------------------------------------------+
 27. | Year |     Jan |     Feb |     Mar |     Apr |     May |     Jun |
     | 2008 |  211.08 | 211.693 | 213.528 | 214.823 | 216.632 | 218.815 |
     |------------------------------------------------------------------|
     |     Jul  |     Aug  |     Sep  |     Oct  |     Nov  |      Dec  |
     | 219.964  | 219.086  | 218.783  | 216.573  | 212.425  |  210.228  |
     +------------------------------------------------------------------+

     +------------------------------------------------------------------+
 28. | Year |     Jan |     Feb |     Mar |     Apr |     May |     Jun |
     | 2009 | 211.143 | 212.193 | 212.709 |  213.24 | 213.856 | 215.693 |
     |------------------------------------------------------------------|
     |     Jul  |     Aug  |     Sep  |     Oct  |     Nov  |      Dec  |
     | 215.351  | 215.834  | 215.969  | 216.177  |  216.33  |  215.949  |
     +------------------------------------------------------------------+

     +------------------------------------------------------------------+
 29. | Year |     Jan |     Feb |     Mar |     Apr |     May |     Jun |
     | 2010 | 216.687 | 216.741 | 217.631 | 218.009 | 218.178 | 217.965 |
     |------------------------------------------------------------------|
     |     Jul  |     Aug  |     Sep  |     Oct  |     Nov  |      Dec  |
     | 218.011  | 218.312  | 218.439  | 218.711  | 218.803  |  219.179  |
     +------------------------------------------------------------------+

     +------------------------------------------------------------------+
 30. | Year |     Jan |     Feb |     Mar |     Apr |     May |     Jun |
     | 2011 | 220.223 | 221.309 | 223.467 | 224.906 | 225.964 | 225.722 |
     |------------------------------------------------------------------|
     |     Jul  |     Aug  |     Sep  |     Oct  |     Nov  |      Dec  |
     | 225.922  | 226.545  | 226.889  | 226.421  |  226.23  |  225.672  |
     +------------------------------------------------------------------+

     +------------------------------------------------------------------+
 31. | Year |     Jan |     Feb |     Mar |     Apr |     May |     Jun |
     | 2012 | 226.665 | 227.663 | 229.392 | 230.085 | 229.815 | 229.478 |
     |------------------------------------------------------------------|
     |     Jul  |     Aug  |     Sep  |     Oct  |     Nov  |      Dec  |
     | 229.104  | 230.379  | 231.407  | 231.317  | 230.221  |  229.601  |
     +------------------------------------------------------------------+

     +------------------------------------------------------------------+
 32. | Year |     Jan |     Feb |     Mar |     Apr |     May |     Jun |
     | 2013 |  230.28 | 232.166 | 232.773 | 232.531 | 232.945 | 233.504 |
     |------------------------------------------------------------------|
     |     Jul  |     Aug  |     Sep  |     Oct  |     Nov  |      Dec  |

     | 233.596  | 233.877  | 234.149  | 233.546  | 233.069  |  233.049  |
     +------------------------------------------------------------------+

     +------------------------------------------------------------------+
 33. | Year |     Jan |     Feb |     Mar |     Apr |     May |     Jun |
     | 2014 | 233.916 | 234.781 | 236.293 | 237.072 |   237.9 | 238.343 |
     |------------------------------------------------------------------|
     |     Jul  |     Aug  |     Sep  |     Oct  |     Nov  |      Dec  |
     |  238.25  | 237.852  | 238.031  | 237.433  | 236.151  |  234.812  |
     +------------------------------------------------------------------+

     +------------------------------------------------------------------+
 34. | Year |     Jan |     Feb |     Mar |     Apr |     May |     Jun |
     | 2015 | 233.707 | 234.722 | 236.119 | 236.599 | 237.805 | 238.638 |
     |------------------------------------------------------------------|
     |     Jul  |     Aug  |     Sep  |     Oct  |     Nov  |      Dec  |
     | 238.654  | 238.316  | 237.945  | 237.838  | 237.336  |  236.525  |
     +------------------------------------------------------------------+

     +------------------------------------------------------------------+
 35. | Year |     Jan |     Feb |     Mar |     Apr |     May |     Jun |
     | 2016 | 236.916 | 237.111 | 238.132 | 239.261 | 240.229 | 241.018 |
     |------------------------------------------------------------------|
     |     Jul  |     Aug  |     Sep  |     Oct  |     Nov  |      Dec  |
     | 240.628  | 240.849  | 241.428  | 241.729  | 241.353  |  241.432  |
     +------------------------------------------------------------------+

     +------------------------------------------------------------------+
 36. | Year |     Jan |     Feb |     Mar |     Apr |     May |     Jun |
     | 2017 | 242.839 | 243.603 | 243.801 | 244.524 | 244.733 | 244.955 |
     |------------------------------------------------------------------|
     |     Jul  |     Aug  |     Sep  |     Oct  |     Nov  |      Dec  |
     | 244.786  | 245.519  | 246.819  | 246.663  | 246.669  |  246.524  |
     +------------------------------------------------------------------+

     +------------------------------------------------------------------+
 37. | Year |     Jan |     Feb |     Mar |     Apr |     May |     Jun |
     | 2018 | 247.867 | 248.991 | 249.554 | 250.546 | 251.588 | 251.989 |
     |------------------------------------------------------------------|
     |     Jul  |     Aug  |     Sep  |     Oct  |     Nov  |      Dec  |
     | 252.006  | 252.146  | 252.439  | 252.885  | 252.038  |  251.233  |
     +------------------------------------------------------------------+

     +------------------------------------------------------------------+
 38. | Year |     Jan |     Feb |     Mar |     Apr |     May |     Jun |
     | 2019 | 251.712 | 252.776 | 254.202 | 255.548 | 256.092 | 256.143 |
     |------------------------------------------------------------------|
     |     Jul  |     Aug  |     Sep  |     Oct  |     Nov  |      Dec  |
     | 256.571  | 256.558  | 256.759  | 257.346  | 257.208  |  256.974  |
     +------------------------------------------------------------------+

     +------------------------------------------------------------------+
 39. | Year |     Jan |     Feb |     Mar |     Apr |     May |     Jun |
     | 2020 | 257.971 | 258.678 | 258.115 | 256.389 | 256.394 | 257.797 |
     |------------------------------------------------------------------|
     |     Jul  |     Aug  |     Sep  |     Oct  |     Nov  |      Dec  |
     | 259.101  | 259.918  |  260.28  | 260.388  | 260.229  |  260.474  |
     +------------------------------------------------------------------+

### Reshaping the data

In [4]:
rename (Jan-Dec) cpi#, addnumber // We replace the name of the month with cpi and we add a number value to it, starting with 1.
reshape long cpi, i(Year) j(month) // We use Year as id and j as the monthly value.
list

(note: j = 1 2 3 4 5 6 7 8 9 10 11 12)

Data                               wide   ->   long
-----------------------------------------------------------------------------
Number of obs.                       39   ->     468
Number of variables                  13   ->       3
j variable (12 values)                    ->   month
xij variables:
                    cpi1 cpi2 ... cpi12   ->   cpi
-----------------------------------------------------------------------------


     +------------------------+
     | Year   month       cpi |
     |------------------------|
  1. | 1982       1      94.3 |
  2. | 1982       2      94.6 |
  3. | 1982       3      94.5 |
  4. | 1982       4      94.9 |
  5. | 1982       5      95.8 |
     |------------------------|
  6. | 1982       6        97 |
  7. | 1982       7      97.5 |
  8. | 1982       8      97.7 |
  9. | 1982       9      97.9 |
 10. | 1982      10      98.2 |
     |------------------------|
 11. | 1982      11        98 |
 12. | 1982      12      97.6 |
 13. | 1983       1      97.8 |
 14. | 1983       2      97.9 |
 15. | 1983       3      97.9 |
     |------------------------|
 16. | 1983       4      98.6 |
 17. | 1983       5      99.2 |
 18. | 1983       6      99.5 |
 19. | 1983       7      99.9 |
 20. | 1983       8     100.2 |
     |------------------------|
 21. | 1983       9     100.7 |
 22. | 1983      10       101 |
 23. | 1983      11     101.2 |
 24. | 1983      12     101.3 |
 25. | 1984       1     101.9 |
     |------------------------|
 26. | 1984       2     102.4 |
 27. | 1984       3     102.6 |
 28. | 1984       4     103.1 |
 29. | 1984       5     103.4 |
 30. | 1984       6     103.7 |
     |------------------------|
 31. | 1984       7     104.1 |
 32. | 1984       8     104.5 |
 33. | 1984       9       105 |
 34. | 1984      10     105.3 |
 35. | 1984      11     105.3 |
     |------------------------|
 36. | 1984      12     105.3 |
 37. | 1985       1     105.5 |
 38. | 1985       2       106 |
 39. | 1985       3     106.4 |
 40. | 1985       4     106.9 |
     |------------------------|
 41. | 1985       5     107.3 |
 42. | 1985       6     107.6 |
 43. | 1985       7     107.8 |
 44. | 1985       8       108 |
 45. | 1985       9     108.3 |
     |------------------------|
 46. | 1985      10     108.7 |
 47. | 1985      11       109 |
 48. | 1985      12     109.3 |
 49. | 1986       1     109.6 |
 50. | 1986       2     109.3 |
     |------------------------|
 51. | 1986       3     108.8 |
 52. | 1986       4     108.6 |
 53. | 1986       5     108.9 |
 54. | 1986       6     109.5 |
 55. | 1986       7     109.5 |
     |------------------------|
 56. | 1986       8     109.7 |
 57. | 1986       9     110.2 |
 58. | 1986      10     110.3 |
 59. | 1986      11     110.4 |
 60. | 1986      12     110.5 |
     |------------------------|
 61. | 1987       1     111.2 |
 62. | 1987       2     111.6 |
 63. | 1987       3     112.1 |
 64. | 1987       4     112.7 |
 65. | 1987       5     113.1 |
     |------------------------|
 66. | 1987       6     113.5 |
 67. | 1987       7     113.8 |
 68. | 1987       8     114.4 |
 69. | 1987       9       115 |
 70. | 1987      10     115.3 |
     |------------------------|
 71. | 1987      11     115.4 |
 72. | 1987      12     115.4 |
 73. | 1988       1     115.7 |
 74. | 1988       2       116 |
 75. | 1988       3     116.5 |
     |------------------------|
 76. | 1988       4     117.1 |
 77. | 1988       5     117.5 |
 78. | 1988       6       118 |
 79. | 1988       7     118.5 |
 80. | 1988       8       119 |
     |------------------------|
 81. | 1988       9     119.8 |
 82. | 1988      10     120.2 |
 83. | 1988      11     120.3 |
 84. | 1988      12     120.5 |
 85. | 1989       1     121.1 |
     |------------------------|
 86. | 1989       2     121.6 |
 87. | 1989       3     122.3 |
 88. | 1989       4     123.1 |
 89. | 1989       5     123.8 |
 90. | 1989       6     124.1 |
     |------------------------|
 91. | 1989       7     124.4 |
 92. | 1989       8     124.6 |
 93. | 1989       9       125 |
 94. | 1989      10     125.6 |
 95. | 1989      11     125.9 |
     |------------------------|
 96. | 1989      12     126.1 |
 97. | 1990       1     127.4 |
 98. | 1990       2       128 |
 99. | 1990       3     128.7 |
100. | 1990       4     128.9 |
     |------------------------|
101. | 1990       5     129.2 |
102. | 1990       6     129.9 |
103. | 1990       7     130.4 |
104. | 1990       8     131.6 |
105. | 1990       9     132.7 |
     |------------------------|
106. | 1990      10     133.5 |
107. | 1990      11     133.8 |
108. | 1990      12     133.8 |
109. | 1991       1     134.6 |
110. | 1991       2     134.8 |
     |------------------------|
111. | 1991       3       135 |
112. | 1991       4     135.2 |
113. | 1991       5     135.6 |
114. | 1991       6       136 |
115. | 1991       7     136.2 |
     |------------------------|
116. | 1991       8     136.6 |
117. | 1991       9     137.2 |
118. | 1991      10     137.4 |
119. | 1991      11     137.8 |
120. | 1991      12     137.9 |
     |------------------------|
121. | 1992       1     138.1 |
122. | 1992       2     138.6 |
123. | 1992       3     139.3 |
124. | 1992       4     139.5 |
125. | 1992       5     139.7 |
     |------------------------|
126. | 1992       6     140.2 |
127. | 1992       7     140.5 |
128. | 1992       8     140.9 |
129. | 1992       9     141.3 |
130. | 1992      10     141.8 |
     |------------------------|
131. | 1992      11       142 |
132. | 1992      12     141.9 |
133. | 1993       1     142.6 |
134. | 1993       2     143.1 |
135. | 1993       3     143.6 |
     |------------------------|
136. | 1993       4       144 |
137. | 1993       5     144.2 |
138. | 1993       6     144.4 |
139. | 1993       7     144.4 |
140. | 1993       8     144.8 |
     |------------------------|
141. | 1993       9     145.1 |
142. | 1993      10     145.7 |
143. | 1993      11     145.8 |
144. | 1993      12     145.8 |
145. | 1994       1     146.2 |
     |------------------------|
146. | 1994       2     146.7 |
147. | 1994       3     147.2 |
148. | 1994       4     147.4 |
149. | 1994       5     147.5 |
150. | 1994       6       148 |
     |------------------------|
151. | 1994       7     148.4 |
152. | 1994       8       149 |
153. | 1994       9     149.4 |
154. | 1994      10     149.5 |
155. | 1994      11     149.7 |
     |------------------------|
156. | 1994      12     149.7 |
157. | 1995       1     150.3 |
158. | 1995       2     150.9 |
159. | 1995       3     151.4 |
160. | 1995       4     151.9 |
     |------------------------|
161. | 1995       5     152.2 |
162. | 1995       6     152.5 |
163. | 1995       7     152.5 |
164. | 1995       8     152.9 |
165. | 1995       9     153.2 |
     |------------------------|
166. | 1995      10     153.7 |
167. | 1995      11     153.6 |
168. | 1995      12     153.5 |
169. | 1996       1     154.4 |
170. | 1996       2     154.9 |
     |------------------------|
171. | 1996       3     155.7 |
172. | 1996       4     156.3 |
173. | 1996       5     156.6 |
174. | 1996       6     156.7 |
175. | 1996       7       157 |
     |------------------------|
176. | 1996       8     157.3 |
177. | 1996       9     157.8 |
178. | 1996      10     158.3 |
179. | 1996      11     158.6 |
180. | 1996      12     158.6 |
     |------------------------|
181. | 1997       1     159.1 |
182. | 1997       2     159.6 |
183. | 1997       3       160 |
184. | 1997       4     160.2 |
185. | 1997       5     160.1 |
     |------------------------|
186. | 1997       6     160.3 |
187. | 1997       7     160.5 |
188. | 1997       8     160.8 |
189. | 1997       9     161.2 |
190. | 1997      10     161.6 |
     |------------------------|
191. | 1997      11     161.5 |
192. | 1997      12     161.3 |
193. | 1998       1     161.6 |
194. | 1998       2     161.9 |
195. | 1998       3     162.2 |
     |------------------------|
196. | 1998       4     162.5 |
197. | 1998       5     162.8 |
198. | 1998       6       163 |
199. | 1998       7     163.2 |
200. | 1998       8     163.4 |

     |------------------------|
201. | 1998       9     163.6 |
202. | 1998      10       164 |
203. | 1998      11       164 |
204. | 1998      12     163.9 |
205. | 1999       1     164.3 |
     |------------------------|
206. | 1999       2     164.5 |
207. | 1999       3       165 |
208. | 1999       4     166.2 |
209. | 1999       5     166.2 |
210. | 1999       6     166.2 |
     |------------------------|
211. | 1999       7     166.7 |
212. | 1999       8     167.1 |
213. | 1999       9     167.9 |
214. | 1999      10     168.2 |
215. | 1999      11     168.3 |
     |------------------------|
216. | 1999      12     168.3 |
217. | 2000       1     168.8 |
218. | 2000       2     169.8 |
219. | 2000       3     171.2 |
220. | 2000       4     171.3 |
     |------------------------|
221. | 2000       5     171.5 |
222. | 2000       6     172.4 |
223. | 2000       7     172.8 |
224. | 2000       8     172.8 |
225. | 2000       9     173.7 |
     |------------------------|
226. | 2000      10       174 |
227. | 2000      11     174.1 |
228. | 2000      12       174 |
229. | 2001       1     175.1 |
230. | 2001       2     175.8 |
     |------------------------|
231. | 2001       3     176.2 |
232. | 2001       4     176.9 |
233. | 2001       5     177.7 |
234. | 2001       6       178 |
235. | 2001       7     177.5 |
     |------------------------|
236. | 2001       8     177.5 |
237. | 2001       9     178.3 |
238. | 2001      10     177.7 |
239. | 2001      11     177.4 |
240. | 2001      12     176.7 |
     |------------------------|
241. | 2002       1     177.1 |
242. | 2002       2     177.8 |
243. | 2002       3     178.8 |
244. | 2002       4     179.8 |
245. | 2002       5     179.8 |
     |------------------------|
246. | 2002       6     179.9 |
247. | 2002       7     180.1 |
248. | 2002       8     180.7 |
249. | 2002       9       181 |
250. | 2002      10     181.3 |
     |------------------------|
251. | 2002      11     181.3 |
252. | 2002      12     180.9 |
253. | 2003       1     181.7 |
254. | 2003       2     183.1 |
255. | 2003       3     184.2 |
     |------------------------|
256. | 2003       4     183.8 |
257. | 2003       5     183.5 |
258. | 2003       6     183.7 |
259. | 2003       7     183.9 |
260. | 2003       8     184.6 |
     |------------------------|
261. | 2003       9     185.2 |
262. | 2003      10       185 |
263. | 2003      11     184.5 |
264. | 2003      12     184.3 |
265. | 2004       1     185.2 |
     |------------------------|
266. | 2004       2     186.2 |
267. | 2004       3     187.4 |
268. | 2004       4       188 |
269. | 2004       5     189.1 |
270. | 2004       6     189.7 |
     |------------------------|
271. | 2004       7     189.4 |
272. | 2004       8     189.5 |
273. | 2004       9     189.9 |
274. | 2004      10     190.9 |
275. | 2004      11       191 |
     |------------------------|
276. | 2004      12     190.3 |
277. | 2005       1     190.7 |
278. | 2005       2     191.8 |
279. | 2005       3     193.3 |
280. | 2005       4     194.6 |
     |------------------------|
281. | 2005       5     194.4 |
282. | 2005       6     194.5 |
283. | 2005       7     195.4 |
284. | 2005       8     196.4 |
285. | 2005       9     198.8 |
     |------------------------|
286. | 2005      10     199.2 |
287. | 2005      11     197.6 |
288. | 2005      12     196.8 |
289. | 2006       1     198.3 |
290. | 2006       2     198.7 |
     |------------------------|
291. | 2006       3     199.8 |
292. | 2006       4     201.5 |
293. | 2006       5     202.5 |
294. | 2006       6     202.9 |
295. | 2006       7     203.5 |
     |------------------------|
296. | 2006       8     203.9 |
297. | 2006       9     202.9 |
298. | 2006      10     201.8 |
299. | 2006      11     201.5 |
300. | 2006      12     201.8 |
     |------------------------|
301. | 2007       1   202.416 |
302. | 2007       2   203.499 |
303. | 2007       3   205.352 |
304. | 2007       4   206.686 |
305. | 2007       5   207.949 |
     |------------------------|
306. | 2007       6   208.352 |
307. | 2007       7   208.299 |
308. | 2007       8   207.917 |
309. | 2007       9    208.49 |
310. | 2007      10   208.936 |
     |------------------------|
311. | 2007      11   210.177 |
312. | 2007      12   210.036 |
313. | 2008       1    211.08 |
314. | 2008       2   211.693 |
315. | 2008       3   213.528 |
     |------------------------|
316. | 2008       4   214.823 |
317. | 2008       5   216.632 |
318. | 2008       6   218.815 |
319. | 2008       7   219.964 |
320. | 2008       8   219.086 |
     |------------------------|
321. | 2008       9   218.783 |
322. | 2008      10   216.573 |
323. | 2008      11   212.425 |
324. | 2008      12   210.228 |
325. | 2009       1   211.143 |
     |------------------------|
326. | 2009       2   212.193 |
327. | 2009       3   212.709 |
328. | 2009       4    213.24 |
329. | 2009       5   213.856 |
330. | 2009       6   215.693 |
     |------------------------|
331. | 2009       7   215.351 |
332. | 2009       8   215.834 |
333. | 2009       9   215.969 |
334. | 2009      10   216.177 |
335. | 2009      11    216.33 |
     |------------------------|
336. | 2009      12   215.949 |
337. | 2010       1   216.687 |
338. | 2010       2   216.741 |
339. | 2010       3   217.631 |
340. | 2010       4   218.009 |
     |------------------------|
341. | 2010       5   218.178 |
342. | 2010       6   217.965 |
343. | 2010       7   218.011 |
344. | 2010       8   218.312 |
345. | 2010       9   218.439 |
     |------------------------|
346. | 2010      10   218.711 |
347. | 2010      11   218.803 |
348. | 2010      12   219.179 |
349. | 2011       1   220.223 |
350. | 2011       2   221.309 |
     |------------------------|
351. | 2011       3   223.467 |
352. | 2011       4   224.906 |
353. | 2011       5   225.964 |
354. | 2011       6   225.722 |
355. | 2011       7   225.922 |
     |------------------------|
356. | 2011       8   226.545 |
357. | 2011       9   226.889 |
358. | 2011      10   226.421 |
359. | 2011      11    226.23 |
360. | 2011      12   225.672 |
     |------------------------|
361. | 2012       1   226.665 |
362. | 2012       2   227.663 |
363. | 2012       3   229.392 |
364. | 2012       4   230.085 |
365. | 2012       5   229.815 |
     |------------------------|
366. | 2012       6   229.478 |
367. | 2012       7   229.104 |
368. | 2012       8   230.379 |
369. | 2012       9   231.407 |
370. | 2012      10   231.317 |
     |------------------------|
371. | 2012      11   230.221 |
372. | 2012      12   229.601 |
373. | 2013       1    230.28 |
374. | 2013       2   232.166 |
375. | 2013       3   232.773 |
     |------------------------|
376. | 2013       4   232.531 |
377. | 2013       5   232.945 |
378. | 2013       6   233.504 |
379. | 2013       7   233.596 |
380. | 2013       8   233.877 |
     |------------------------|
381. | 2013       9   234.149 |
382. | 2013      10   233.546 |
383. | 2013      11   233.069 |
384. | 2013      12   233.049 |
385. | 2014       1   233.916 |
     |------------------------|
386. | 2014       2   234.781 |
387. | 2014       3   236.293 |
388. | 2014       4   237.072 |
389. | 2014       5     237.9 |
390. | 2014       6   238.343 |
     |------------------------|
391. | 2014       7    238.25 |
392. | 2014       8   237.852 |
393. | 2014       9   238.031 |
394. | 2014      10   237.433 |
395. | 2014      11   236.151 |
     |------------------------|
396. | 2014      12   234.812 |
397. | 2015       1   233.707 |
398. | 2015       2   234.722 |
399. | 2015       3   236.119 |
400. | 2015       4   236.599 |
     |------------------------|
401. | 2015       5   237.805 |
402. | 2015       6   238.638 |
403. | 2015       7   238.654 |
404. | 2015       8   238.316 |
405. | 2015       9   237.945 |
     |------------------------|
406. | 2015      10   237.838 |
407. | 2015      11   237.336 |
408. | 2015      12   236.525 |
409. | 2016       1   236.916 |
410. | 2016       2   237.111 |
     |------------------------|
411. | 2016       3   238.132 |
412. | 2016       4   239.261 |
413. | 2016       5   240.229 |
414. | 2016       6   241.018 |

415. | 2016       7   240.628 |
     |------------------------|
416. | 2016       8   240.849 |
417. | 2016       9   241.428 |
418. | 2016      10   241.729 |
419. | 2016      11   241.353 |
420. | 2016      12   241.432 |
     |------------------------|
421. | 2017       1   242.839 |
422. | 2017       2   243.603 |
423. | 2017       3   243.801 |
424. | 2017       4   244.524 |
425. | 2017       5   244.733 |
     |------------------------|
426. | 2017       6   244.955 |
427. | 2017       7   244.786 |
428. | 2017       8   245.519 |
429. | 2017       9   246.819 |
430. | 2017      10   246.663 |
     |------------------------|
431. | 2017      11   246.669 |
432. | 2017      12   246.524 |
433. | 2018       1   247.867 |
434. | 2018       2   248.991 |
435. | 2018       3   249.554 |
     |------------------------|
436. | 2018       4   250.546 |
437. | 2018       5   251.588 |
438. | 2018       6   251.989 |
439. | 2018       7   252.006 |
440. | 2018       8   252.146 |
     |------------------------|
441. | 2018       9   252.439 |
442. | 2018      10   252.885 |
443. | 2018      11   252.038 |
444. | 2018      12   251.233 |
445. | 2019       1   251.712 |
     |------------------------|
446. | 2019       2   252.776 |
447. | 2019       3   254.202 |
448. | 2019       4   255.548 |
449. | 2019       5   256.092 |
450. | 2019       6   256.143 |
     |------------------------|
451. | 2019       7   256.571 |
452. | 2019       8   256.558 |
453. | 2019       9   256.759 |
454. | 2019      10   257.346 |
455. | 2019      11   257.208 |
     |------------------------|
456. | 2019      12   256.974 |
457. | 2020       1   257.971 |
458. | 2020       2   258.678 |
459. | 2020       3   258.115 |
460. | 2020       4   256.389 |
     |------------------------|
461. | 2020       5   256.394 |
462. | 2020       6   257.797 |
463. | 2020       7   259.101 |
464. | 2020       8   259.918 |
465. | 2020       9    260.28 |
     |------------------------|
466. | 2020      10   260.388 |
467. | 2020      11   260.229 |
468. | 2020      12   260.474 |
     +------------------------+

After reshaping the data from wide to long, we list it again to confirm the stucture of the data.

### Renaming and labeling the CPI variables

In [5]:
rename Year year
label variable month "month"
label variable cpi "monthly cpi"
label value cpi CPI 
label value year YEAR
label value month MONTH
label define MONTH 1 "january" 2 "february" 3 "march" 4 "april" 5 "may" 6 "june" 7 "july" 8 "august" ///
                   9 "september" 10 "october" 11 "november" 12 "december"

We add value labels as well as rename variables in order to match those of the IPUMS CPS data set.

### Sort, describe, summarize and save the CPI data set

In [6]:
sort year month
list year-cpi in 1/5, noobs
describe
summarize

  +------------------------+
  | year      month    cpi |
  |------------------------|
  | 1982    january   94.3 |
  | 1982   february   94.6 |
  | 1982      march   94.5 |
  | 1982      april   94.9 |
  | 1982        may   95.8 |
  +------------------------+


Contains data
  obs:           468
 vars:             3
 size:         5,148
--------------------------------------------------------------------------------
              storage   display    value
variable name   type    format     label      variable label
--------------------------------------------------------------------------------
year            int     %10.0g     YEAR       Year
month           byte    %9.0g      MONTH      month
cpi             double  %10.0g     CPI        monthly cpi
--------------------------------------------------------------------------------
Sorted by: year  month
     Note: Dataset has changed since last saved.


    Variable |        Obs        Mean    Std. Dev.       Min        Max
-------------+---------------------------------------------------------
        year |        468        2001    11.26667       1982       2020
       month |        468         6.5    3.455747          1         12
         cpi |        468    177.9036    49.44487       94.3    260.474

We can observe that data is properly sorted by year first followed by months.

In [7]:
save "../Data/cpi", replace // We save the data as cpi to our Data folder.

file ../Data/cpi.dta saved

### Merging the CPI into the CPS, with the CPS as the master

In [8]:
use "..\Data\cps"
merge m:1 year month using "../Data/cpi", keep(match) nogenerate
describe
summarize

(label MONTH already defined)

    Result                           # of obs.
    -----------------------------------------
    not matched                             0
    matched                         6,777,577
    -----------------------------------------


Contains data from ..\Data\cps.dta
  obs:     6,777,577
 vars:            36                          11 FEB 2021 20:59
 size:   718,423,162
--------------------------------------------------------------------------------
              storage   display    value
variable name   type    format     label      variable label
--------------------------------------------------------------------------------
year            int     %8.0g                 survey year
serial          long    %12.0g                household serial number
month           byte    %8.0g      MONTH      month
hwtfinl         double  %12.0g                household weight, basic monthly
cpsid           double  %12.0g                cpsid, household record
asecflag        byte    %8.0g      ASECFLAG   flag for asec
mish            byte    %8.0g      MISH       month in sample, household level
region          byte    %8.0g      REGION     region and division
metro           byte    %8.0g      METRO      metropolitan central city status
pernum          byte    %8.0g                 person number in sample unit
wtfinl          double  %12.0g                final basic weight
cpsidp          double  %12.0g                cpsid, person record
relate          int     %8.0g      RELATE     relationship to household head
age             byte    %8.0g      AGE        age
sex             byte    %8.0g      SEX        sex
race            int     %8.0g      RACE       race
marst           byte    %8.0g      MARST      marital status
hispan          int     %8.0g      HISPAN     hispanic origin
empstat         byte    %8.0g      EMPSTAT    employment status
labforce        byte    %8.0g      LABFORCE   labor force status
occ1990         int     %8.0g      OCC1990    occupation, 1990 basis
ind1990         int     %8.0g      IND1990    industry, 1990 basis
classwkr        byte    %8.0g      CLASSWKR   class of worker
uhrsworkt       int     %8.0g      UHRSWORKT
                                              hours usually worked per week at
                                                all jobs
uhrswork1       int     %8.0g      UHRSWORK1
                                              hours usually worked per week at
                                                main job
wkstat          byte    %8.0g      WKSTAT     full or part time status
educ            int     %8.0g      EDUC       educational attainment recode
higrade         int     %8.0g      HIGRADE    highest grade of school
earnwt          double  %12.0g                earnings weight
qearnwee        byte    %8.0g      QEARNWEE   data quality flag for earnweek
hourwage        double  %12.0g                hourly wage
union           byte    %8.0g      UNION      union membership
earnweek        double  %12.0g                weekly earnings
uhrsworkorg     int     %8.0g                 usual hours worked per week,
                                                outgoing rotation groups
eligorg         byte    %8.0g      ELIGORG    (earnings) eligibility flag
cpi             double  %10.0g     CPI        monthly cpi
--------------------------------------------------------------------------------
Sorted by:
     Note: Dataset has changed since last saved.


    Variable |        Obs        Mean    Std. Dev.       Min        Max
-------------+---------------------------------------------------------
        year |  6,777,577    1999.192    11.78595       1982       2020
      serial |  6,777,577    34581.93     20256.6          1      74625
       month |  6,777,577    6.515042    3.453532          1         12
     hwtfinl |  5,097,971    2130.732    1181.666          0   34716.21
       cpsid |  6,777,577    2.00e+13    1.17e+11   1.98e+13   2.02e+13
-------------+---------------------------------------------------------
    asecflag |    558,838           2           0          2          2
        mish |  6,777,577    5.855871    2.078991          1          8
      region |  6,777,577    27.23336    10.76463         11         42
       metro |  6,693,443    2.165721    1.128761          0          4
      pernum |  6,777,577     1.67526     .937375          1         22
-------------+---------------------------------------------------------
      wtfinl |  6,777,577    2033.844     1156.62      19.86   34716.21
      cpsidp |  6,777,577    2.00e+13    1.17e+11   1.98e+13   2.02e+13
      relate |  6,777,577    248.5837    290.8129        101       1260
         age |  6,777,577    38.72579    12.22406         18         64
         sex |  6,777,577    1.485784    .4997979          1          2
-------------+---------------------------------------------------------
        race |  6,777,577    140.0783    129.0704        100        830
       marst |  6,777,577    2.805079    2.250843          1          7
      hispan |  6,777,577    29.53084    122.3891          0        902
     empstat |  6,777,577    10.08637    .4065516         10         12
    labforce |  6,777,577           2           0          2          2
-------------+---------------------------------------------------------
     occ1990 |  6,777,577    361.4745    248.3086          3        889
     ind1990 |  6,777,577    595.0538    270.0302         10        932
    classwkr |  6,777,577    22.58339    2.100391         13         28
   uhrsworkt |  4,247,134    103.8551    239.0951          0        997
   uhrswork1 |  6,777,577    146.1173    302.1636          0        999
-------------+---------------------------------------------------------
      wkstat |  6,777,577    14.74371     9.79106         10         42
        educ |  6,777,577    85.10786    23.17121          2        125
     higrade |  2,194,769    159.7881    26.97865          0        210
      earnwt |  6,777,577    7689.449    5024.939          0   133411.1
    qearnwee |  3,975,390    1.263762    1.859558          0          4
-------------+---------------------------------------------------------
    hourwage |  6,777,577    460.2641    491.7694        .01     999.99
       union |  5,943,723    1.174041    .4212958          0          3
    earnweek |  6,777,577    1347.671    2521.372        .01    9999.99
 uhrsworkorg |  5,097,971    483.9241    479.9508          1        999
     eligorg |  6,777,577           1           0          1          1
-------------+---------------------------------------------------------
         cpi |  6,777,577     170.147    51.55513       94.3    260.474

# 2. Adressing missing observations & recoding for consistency

We drop some of the variables we won't be using and recode for consistency as well as missing observations.

### Addressing missing observations

In [9]:
replace region=. if region==97
replace sex=. if sex==9
replace race=. if race==999
replace marst=. if marst==9 // NIU
replace metro=. if inlist(metro, 0, 9) // Not identifiable, Missing/Unknown
replace classwkr=. if inlist(classwkr, 00, 99) // NIU, Missing/Unknown
replace empstat=. if empstat==00 
replace labforce=. if labforce==0
replace educ=. if inlist(educ, 000, 001, 999) // NIU or no schooling, NIU or blank, Missing/Unknown
replace union=. if union==0 
replace occ1990 =. if inlist(occ1990, 991, 999) // Unemployed, N/A and unknown 
replace ind1990=. if inlist(ind1990, 000, 997,998) // NIU, Unknown
replace earnweek =. if earnweek == 9999.99

(0 real changes made)

(0 real changes made)

(0 real changes made)

(0 real changes made)

(577,499 real changes made, 577,499 to missing)

(0 real changes made)

(0 real changes made)

(0 real changes made)

(0 real changes made)

(16 real changes made, 16 to missing)

(0 real changes made)

(0 real changes made)

(510,277 real changes made, 510,277 to missing)

### Recoding Occupation

We procceed by recoding occupation. We generate occupation to replace occ1990 and we code for a broad set of occupations.

In [10]:
generate occupation=.

*** 1982-2020
replace occupation=1 if inrange(occ1990, 000, 037) & inrange(year, 1982, $eyear) // Executive, Administrative, and Managerial Occupations 
replace occupation=2 if inrange(occ1990, 038, 200) & inrange(year, 1982, $eyear) // Professional Specialty Occupations
replace occupation=3 if inrange(occ1990, 201, 235) & inrange(year, 1982, $eyear) // Technicians and Related Support Occupations
replace occupation=4 if inrange(occ1990, 243, 290) & inrange(year, 1982, $eyear) // Sales Occupations
replace occupation=5 if inrange(occ1990, 303, 400) & inrange(year, 1982, $eyear) // Administrative Support Occupations 
replace occupation=6 if inrange(occ1990, 401, 470) & inrange(year, 1982, $eyear) // Service Occupations
replace occupation=7 if inrange(occ1990, 471, 500) & inrange(year, 1982, $eyear) // Farming, Forestry, and Fishing  
replace occupation=8 if inrange(occ1990, 501, 700) & inrange(year, 1982, $eyear) // Precision Production, Craft, and Repair
replace occupation=9 if inrange(occ1990, 701, 900) & inrange(year, 1982, $eyear) // Operators, Fabricators, and Laborers
tab year occ1990 if occ1990~=. & occupation==. & inrange(year, 1982, $eyear)

(6,777,577 missing values generated)

(878,207 real changes made)

(1,100,218 real changes made)

(260,965 real changes made)

(681,961 real changes made)

(1,092,965 real changes made)

(969,424 real changes made)

(114,384 real changes made)

(709,600 real changes made)

(969,853 real changes made)

no observations

### Recoding Industry

We procceed by recoding industry. We generate industry to replace ind1990 and we code for 13 industries.

In [11]:
generate industry=.

*** 1982-2020
replace industry=1 if inrange(ind1990, 010, 032) & inrange(year, 1982, $eyear) // Agriculture, Forestry, and Fisheries
replace industry=2 if inrange(ind1990, 040, 050) & inrange(year, 1982, $eyear) // Mining
replace industry=3 if ind1990 == 060             & inrange(year, 1982, $eyear) // Construction
replace industry=4 if inrange(ind1990, 100, 392) & inrange(year, 1982, $eyear) // Manufacturing 
replace industry=5 if inrange(ind1990, 400, 472) & inrange(year, 1982, $eyear) // Transportation, Communications, and Utilities
replace industry=6 if inrange(ind1990, 500, 571) & inrange(year, 1982, $eyear) // Wholesale trade
replace industry=7 if inrange(ind1990, 580, 691) & inrange(year, 1982, $eyear) // Retail trade
replace industry=8 if inrange(ind1990, 700, 712) & inrange(year, 1982, $eyear) // Finance, Insurance, and Real Estate
replace industry=9 if inrange(ind1990, 721, 760) & inrange(year, 1982, $eyear) // Business and Repair Services
replace industry=10 if inrange(ind1990, 761, 791) & inrange(year, 1982, $eyear) // Personal Services
replace industry=11 if inrange(ind1990, 800, 810) & inrange(year, 1982, $eyear) // Entertainment and Recreation Services
replace industry=12 if inrange(ind1990, 812, 893) & inrange(year, 1982, $eyear) // Professional and Related Services 
replace industry=13 if inrange(ind1990, 900, 932) & inrange(year, 1982, $eyear) // Public Administration
tab year ind1990 if ind1990~=. & industry==. & inrange(year, 1982, $eyear)

(6,777,577 missing values generated)

(111,368 real changes made)

(58,278 real changes made)

(383,358 real changes made)

(1,086,340 real changes made)

(506,929 real changes made)

(230,967 real changes made)

(1,092,403 real changes made)

(447,572 real changes made)

(355,184 real changes made)

(209,199 real changes made)

(101,063 real changes made)

(1,811,419 real changes made)

(383,497 real changes made)

no observations

We drop redudant variables

In [12]:
drop occ1990
drop ind1990

We define labels for the occupation and industry variables

In [13]:
  label define OCCUP 1 "executive, administrative, & managerial"  2  "professional specialty occupations" /// 
                     3  "technicians and related support"  4  "sales"  5  "craftsmen"  6  "administrative support" ///
                     7  "service occupations"  8  "farming, forestry, and fishing"  9  "precision production, craft, and repair" ///
                     10 "operators, fabricators, and laborers"
  label value occup OCCUP

  label define INDUST 1 "agriculture, forestry, and fisheries"  2  "mining"  3  "construction"  4  "manufacturing" ///
                      5 "transportation, communications, and utilities"  6  "wholesale trade"  7  "retail trade" /// 
                      8 " finance, insurance, and real estate"  9  "business and repair services" ///
                     10 "personal services"  11  "entertainment and recreation services" /// 
                     12 "professional and related services"  13  "public administration"
  label value indust INDUST

  label variable occupation   "occupation (1-10), 1990 basis" 

  label variable industry   "industry (1-13), 1990 basis"

We quickly tabulate occupation and industry to see our results.

In [14]:
tab1 occupation industry

-> tabulation of occupation

          occupation (1-10), 1990 basis |      Freq.     Percent        Cum.
----------------------------------------+-----------------------------------
executive, administrative, & managerial |    878,207       12.96       12.96
     professional specialty occupations |  1,100,218       16.23       29.19
        technicians and related support |    260,965        3.85       33.04
                                  sales |    681,961       10.06       43.10
                              craftsmen |  1,092,965       16.13       59.23
                 administrative support |    969,424       14.30       73.53
                    service occupations |    114,384        1.69       75.22
         farming, forestry, and fishing |    709,600       10.47       85.69
precision production, craft, and repair |    969,853       14.31      100.00
----------------------------------------+-----------------------------------
                                  Total |  6,777,577      100.00

-> tabulation of industry

            industry (1-13), 1990 basis |      Freq.     Percent        Cum.
----------------------------------------+-----------------------------------
   agriculture, forestry, and fisheries |    111,368        1.64        1.64
                                 mining |     58,278        0.86        2.50
                           construction |    383,358        5.66        8.16
                          manufacturing |  1,086,340       16.03       24.19
transportation, communications, and uti |    506,929        7.48       31.67
                        wholesale trade |    230,967        3.41       35.08
                           retail trade |  1,092,403       16.12       51.19
    finance, insurance, and real estate |    447,572        6.60       57.80
           business and repair services |    355,184        5.24       63.04
                      personal services |    209,199        3.09       66.12
  entertainment and recreation services |    101,063        1.49       67.62
      professional and related services |  1,811,419       26.73       94.34
                  public administration |    383,497        5.66      100.00
----------------------------------------+-----------------------------------
                                  Total |  6,777,577      100.00

### Recoding Education

We first recode the education variable educ to create the variable grade, which measures highest grade completed. We use Jaeger (1997) to transform degrees into grades.

In [15]:
generate grade=.
*** 1982-1991
  replace grade=0  if educ==2 & year<=1991 // none or preschool
  replace grade=1  if educ==11 & year<=1991 // grade 1
  replace grade=2  if educ==12 & year<=1991 // grade 2
  replace grade=3  if educ==13 & year<=1991 // grade 3
  replace grade=4  if educ==14 & year<=1991 // grade 4
  replace grade=5  if educ==21 & year<=1991 // grade 5
  replace grade=6  if educ==22 & year<=1991 // grade 6
  replace grade=7  if educ==31 & year<=1991 // grade 7
  replace grade=8  if educ==32 & year<=1991 // grade 8 
  replace grade=9  if educ==40 & year<=1991 // grade 9
  replace grade=10 if educ==50 & year<=1991 // grade 10
  replace grade=11 if educ==60 & year<=1991 // grade 11
  replace grade=12 if (educ==72 | educ==73) & year<=1991 // 12th grade, diploma unclear, 
  replace grade=13 if educ==80 & year<=1991 // 1 year of college
  replace grade=14 if educ==90 & year<=1991 // 2 years of college
  replace grade=15 if educ==100 & year<=1991 // 3 years of college
  replace grade=16 if educ==110 & year<=1991 // 4 years of college
  replace grade=17 if educ==121 & year<=1991 // 5 years of college
  replace grade=18 if educ==122 & year<=1991 // 6 years of college or more
  
  *** 1992-2109 (Jaeger 1997)
  replace grade=0   if educ==2  & year>=1992 // none or preschool 
  replace grade=2.5 if educ==10 & year>=1992 // grades 1, 2, 3, or 4
  replace grade=5.5 if educ==20 & year>=1992 // grades 5 or 6
  replace grade=7.5 if educ==30 & year>=1992 // grades 7 or 8
  replace grade=9   if educ==40 & year>=1992 // grade 9
  replace grade=10  if educ==50 & year>=1992 // grade 10
  replace grade=11  if educ==60 & year>=1992 // grade 11
  replace grade=12  if (educ==71 | educ==73) & year>=1992 // 71 is `12th grade, no diploma' 73 is 'HS diploma or equivalent'
  replace grade=13  if educ==81 & year>=1992 // some college, no degree
  replace grade=14  if (educ==91 | educ==92) & year>=1992 // 91 is 'vocational associate's degree' 92 is 'academic a.d' 
  replace grade=16  if educ==111 & year>=1992 // bachelor's degree
  replace grade=18  if inlist(educ, 123, 124, 125) & year>=1992 // master's, professional school, doctorate degrees
  order grade, before(educ)

** We label grade
  label value grade GRADE
  label variable grade  "highest grade completed"

(6,777,577 missing values generated)

(4,792 real changes made)

(1,146 real changes made)

(2,679 real changes made)

(4,442 real changes made)

(5,555 real changes made)

(7,290 real changes made)

(17,778 real changes made)

(15,904 real changes made)

(52,891 real changes made)

(51,748 real changes made)

(75,762 real changes made)

(80,548 real changes made)

(917,566 real changes made)

(173,150 real changes made)

(213,385 real changes made)

(81,237 real changes made)

(290,732 real changes made)

(59,395 real changes made)

(138,769 real changes made)

(7,634 real changes made)

(19,680 real changes made)

(46,417 real changes made)

(47,512 real changes made)

(52,772 real changes made)

(69,498 real changes made)

(105,143 real changes made)

(1,432,024 real changes made)

(906,313 real changes made)

(459,348 real changes made)

(952,118 real changes made)

(484,349 real changes made)

# 3. Data selection and generating variables

### We focus on black and white individuals only

In [16]:
keep if inlist(race, 100, 200)
tab race

(389,892 observations deleted)


                                   race |      Freq.     Percent        Cum.
----------------------------------------+-----------------------------------
                                  white |  5,742,432       89.90       89.90
                            black/negro |    645,253       10.10      100.00
----------------------------------------+-----------------------------------
                                  Total |  6,387,685      100.00

### We want to work with the outgoing rotation groups only, If mish isnt 4 or 8, we drop these observations

In [17]:
keep if mish==4|mish==8
tab month mish

(485,800 observations deleted)


           |   month in sample,
           |    household level
     month |      four      eight |     Total
-----------+----------------------+----------
   january |   245,149    246,642 |   491,791
  february |   246,281    246,081 |   492,362
     march |   244,041    244,201 |   488,242
     april |   243,748    243,097 |   486,845
       may |   243,448    243,021 |   486,469
      june |   246,147    246,556 |   492,703
      july |   245,725    248,264 |   493,989
    august |   244,532    246,732 |   491,264
 september |   245,276    247,498 |   492,774
   october |   247,802    249,374 |   497,176
  november |   247,205    248,254 |   495,459
  december |   245,608    247,203 |   492,811
-----------+----------------------+----------
     Total | 2,944,962  2,956,923 | 5,901,885

We confirm the structure of the data by computing cross-tabulations of month and rotation group (mish).

### We will focusing on indviduals who "work full time" as well as "usally work full time" only.

In [18]:
numlabel WKSTAT, add
tab wkstat
keep if wkstat == 10| wkstat == 11
tab wkstat

               full or part time status |      Freq.     Percent        Cum.
----------------------------------------+-----------------------------------
                10. full-time schedules |  1,628,468       27.59       27.59
11. full-time hours (35+), usually full |  2,934,463       49.72       77.31
12. part-time for non-economic reasons, |    257,317        4.36       81.67
     13. not at work, usually full-time |    113,395        1.92       83.59
14. full-time hours, usually part-time  |      5,930        0.10       83.69
15. full-time hours, usually part-time  |     18,087        0.31       84.00
     20. part-time for economic reasons |     58,552        0.99       84.99
21. part-time for economic reasons, usu |     53,373        0.90       85.90
22. part-time hours, usually part-time  |    125,079        2.12       88.02
40. part-time for non-economic reasons, |    229,426        3.89       91.90
41. part-time hours, usually part-time  |    444,487        7.53       99.44
     42. not at work, usually part-time |     33,308        0.56      100.00
----------------------------------------+-----------------------------------
                                  Total |  5,901,885      100.00

(1,338,954 observations deleted)


               full or part time status |      Freq.     Percent        Cum.
----------------------------------------+-----------------------------------
                10. full-time schedules |  1,628,468       35.69       35.69
11. full-time hours (35+), usually full |  2,934,463       64.31      100.00
----------------------------------------+-----------------------------------
                                  Total |  4,562,931      100.00

### We will focus on employed people only

In [19]:
tab empstat
tab labforce

             employment status |      Freq.     Percent        Cum.
-------------------------------+-----------------------------------
                       at work |  4,479,142       98.16       98.16
has job, not at work last week |     83,789        1.84      100.00
-------------------------------+-----------------------------------
                         Total |  4,562,931      100.00


        labor force status |      Freq.     Percent        Cum.
---------------------------+-----------------------------------
   yes, in the labor force |  4,562,931      100.00      100.00
---------------------------+-----------------------------------
                     Total |  4,562,931      100.00

As we check we see that our data was preselected to include people in the labor force are employed.

### We shift our foucus to weekly wages, we get rid of missing values for earnweek

In [20]:
count if earnweek == .
keep if earnweek !=.

  4,053

(4,053 observations deleted)

### Generate a variable to identify top-coded values of earnweek

In [21]:
/*Identifying top coded values */
gen topcode_earnweek = .
replace topcode_earnweek = 0 if earnweek != . & inrange(year, 1982,$eyear)
replace topcode_earnweek = 1 if earnweek == 999 & inrange(year, 1982, 1988)
replace topcode_earnweek = 1 if earnweek== 1923 & inrange(year, 1989, 1997)
replace topcode_earnweek = 1 if earnweek == 2884.61 & inrange(year, 1998,$eyear)
label variable topcode_earnweek "top Coded Values of weekly earnings" // To rename variable labels
label define TOPCODE_EARNWEEK 0 "0-Not Top Coded" 1 "1-Top Coded" // To rename labels, so it's not just 1 and 0 
label value topcode_earnweek TOPCODE
tab year topcode_earnweek, missing

(4,558,878 missing values generated)

(4,558,878 real changes made)

(33,363 real changes made)

(12,904 real changes made)

(64,359 real changes made)





           |  top Coded Values of
    survey |    weekly earnings
      year |         0          1 |     Total
-----------+----------------------+----------
      1982 |   130,442      2,369 |   132,811
      1983 |   128,570      3,096 |   131,666
      1984 |   131,679      3,839 |   135,518
      1985 |   133,892      4,771 |   138,663
      1986 |   131,908      5,572 |   137,480
      1987 |   132,025      6,491 |   138,516
      1988 |   126,004      7,225 |   133,229
      1989 |   134,819        782 |   135,601
      1990 |   141,052      1,014 |   142,066
      1991 |   135,083      1,167 |   136,250
      1992 |   133,079      1,219 |   134,298
      1993 |   131,033      1,324 |   132,357
      1994 |   108,986      1,693 |   110,679
      1995 |   109,105      1,881 |   110,986
      1996 |    98,321      1,712 |   100,033
      1997 |   101,304      2,112 |   103,416
      1998 |   101,044        793 |   101,837
      1999 |   106,025        917 |   106,942
      2000 |   108,790      1,053 |   109,843
      2001 |   116,649      1,264 |   117,913
      2002 |   121,712      1,511 |   123,223
      2003 |   118,116      1,529 |   119,645
      2004 |   114,867      1,636 |   116,503
      2005 |   115,779      1,847 |   117,626
      2006 |   115,639      2,094 |   117,733
      2007 |   114,853      2,360 |   117,213
      2008 |   111,858      2,660 |   114,518
      2009 |   101,991      2,739 |   104,730
      2010 |   103,845      2,954 |   106,799
      2011 |   102,693      2,997 |   105,690
      2012 |   103,124      3,333 |   106,457
      2013 |   103,501      3,587 |   107,088
      2014 |   103,425      3,637 |   107,062
      2015 |   101,083      3,863 |   104,946
      2016 |   102,532      4,150 |   106,682
      2017 |   100,358      4,291 |   104,649
      2018 |    98,837      4,947 |   103,784
      2019 |    95,702      5,107 |   100,809
      2020 |    78,527      5,090 |    83,617
-----------+----------------------+----------
     Total | 4,448,252    110,626 | 4,558,878

### Generating real weekly wages and the log of real weekly wages

In [22]:
/*Generating the real weekly wage  */
summarize cpi if inlist(year, 2020) & inlist(month, 12), meanonly
scalar cpidec20=r(mean)
scalar list cpidec20
generate real_weekly_wage = cpidec20*earnweek/cpi // real weekly wage in Dec2020 dollars
scalar lcut=$mwage20 * 40/2 // half weekly earnings from 40 hours/week at the 2020 minimum wage
drop if real_weekly_wage<lcut
generate log_rwage = log(real_weekly_wage)

label value real_weekly_wage RWWAGE
label variable real_weekly_wage "real weekly wage, Dec2020 dollars"
label value log_rwage LOGWAGE
label variable log_rwage " log of real weekly wage"

summarize real_weekly_wage log_rwage

  cpidec20 =    260.474



(15,093 observations deleted)







    Variable |        Obs        Mean    Std. Dev.       Min        Max
-------------+---------------------------------------------------------
real_weekl~e |  4,543,785    1044.094    650.3768   145.0007   4649.542
   log_rwage |  4,543,785    6.784769    .5712777   4.976738   8.444524


### Generating variables

In [23]:
generate black = (race ==200)
label value black BLACK
label variable black "black race"
tab black

generate white = (race ==100)
label value white WHITE
label variable white "white race"
tab white

generate female = (sex==2)
label value female FEMALE
label variable female "female"

generate age_squared = age*age
label value age_squared AGESQR
label variable age_squared "age squared"

generate experience = age - grade - 6
replace experience = 0 if experience <0 // to ensure that we do not have negative values, we replace them with zero
label value experience EXPERIENCE
label variable experience "experience"

generate experience_squared = experience*experience
label value experience_squared EXPERIENSQR
label variable experience "experience squared"

generate birthyear=year-age if inrange(month, 1, 6)
replace birthyear=year-age-1 if inrange(month, 7, 12)
label value birthyear BIRTHYEAR
label variable birthyear "birthyear"

generate married = (inlist(marst, 1,2)) // married, spouse present/absent
label value married MARRIED
label variable married "married"

generate single = (marst ==6) // never married/single
label value single SINGLE
label variable single "never married/single"

generate in_metro = (metro!= 1) // 1 equals not in metro area, thus I keep the values not equal to one
label value in_metro INMETRO
label variable in_metro "resides in metro area"

 black race |      Freq.     Percent        Cum.
------------+-----------------------------------
          0 |  4,071,567       89.61       89.61
          1 |    472,218       10.39      100.00
------------+-----------------------------------
      Total |  4,543,785      100.00





 white race |      Freq.     Percent        Cum.
------------+-----------------------------------
          0 |    472,218       10.39       10.39
          1 |  4,071,567       89.61      100.00
------------+-----------------------------------
      Total |  4,543,785      100.00








(7,975 real changes made)






(2,273,040 missing values generated)

(2,273,040 real changes made)

### Generating educational dummies

In [24]:
/*Generating high school diploma degree */
generate highschool = (grade == 12)
label value highschool HSDIPLOMA
label variable highschool "high school diploma"
tab highschool

/*Generating bachelor's degree */
generate bachelors = (grade == 16)
label value bachelors BACHELORS
label variable bachelors "bachelor's degree"
tab bachelors

/*Generating master's/professional/doctorate degree*/
generate advancedegree = (grade == 18)
label value advancedegree ADVANDEGREE
label variable advancedegree "master's/professional/doctorate degree"
tab advancedegree

high school |
    diploma |      Freq.     Percent        Cum.
------------+-----------------------------------
          0 |  2,957,211       65.08       65.08
          1 |  1,586,574       34.92      100.00
------------+-----------------------------------
      Total |  4,543,785      100.00





 bachelor's |
     degree |      Freq.     Percent        Cum.
------------+-----------------------------------
          0 |  3,663,455       80.63       80.63
          1 |    880,330       19.37      100.00
------------+-----------------------------------
      Total |  4,543,785      100.00





master's/pr |
ofessional/ |
  doctorate |
     degree |      Freq.     Percent        Cum.
------------+-----------------------------------
          0 |  4,102,431       90.29       90.29
          1 |    441,354        9.71      100.00
------------+-----------------------------------
      Total |  4,543,785      100.00

In [25]:
compress 
save "../Data/cps2", replace // We save the data as cps2 to our Data folder.
describe
summarize

  variable occupation was float now byte
  variable industry was float now byte
  variable topcode_earnweek was float now byte
  variable black was float now byte
  variable white was float now byte
  variable female was float now byte
  variable age_squared was float now int
  variable birthyear was float now int
  variable married was float now byte
  variable single was float now byte
  variable in_metro was float now byte
  variable highschool was float now byte
  variable bachelors was float now byte
  variable advancedegree was float now byte
  (181,751,400 bytes saved)

file ../Data/cps2.dta saved


Contains data from ../Data/cps2.dta
  obs:     4,543,785
 vars:            53                          25 Jan 2022 19:20
 size:   627,042,330
--------------------------------------------------------------------------------
              storage   display    value
variable name   type    format     label      variable label
--------------------------------------------------------------------------------
year            int     %8.0g                 survey year
serial          long    %12.0g                household serial number
month           byte    %8.0g      MONTH      month
hwtfinl         double  %12.0g                household weight, basic monthly
cpsid           double  %12.0g                cpsid, household record
asecflag        byte    %8.0g      ASECFLAG   flag for asec
mish            byte    %8.0g      MISH       month in sample, household level
region          byte    %8.0g      REGION     region and division
metro           byte    %8.0g      METRO      metropolitan central city status
pernum          byte    %8.0g                 person number in sample unit
wtfinl          double  %12.0g                final basic weight
cpsidp          double  %12.0g                cpsid, person record
relate          int     %8.0g      RELATE     relationship to household head
age             byte    %8.0g      AGE        age
sex             byte    %8.0g      SEX        sex
race            int     %8.0g      RACE       race
marst           byte    %8.0g      MARST      marital status
hispan          int     %8.0g      HISPAN     hispanic origin
empstat         byte    %8.0g      EMPSTAT    employment status
labforce        byte    %8.0g      LABFORCE   labor force status
classwkr        byte    %8.0g      CLASSWKR   class of worker
uhrsworkt       int     %8.0g      UHRSWORKT
                                              hours usually worked per week at
                                                all jobs
uhrswork1       int     %8.0g      UHRSWORK1
                                              hours usually worked per week at
                                                main job
wkstat          byte    %63.0g     WKSTAT     full or part time status
grade           float   %9.0g      GRADE      highest grade completed
educ            int     %8.0g      EDUC       educational attainment recode
higrade         int     %8.0g      HIGRADE    highest grade of school
earnwt          double  %12.0g                earnings weight
qearnwee        byte    %8.0g      QEARNWEE   data quality flag for earnweek
hourwage        double  %12.0g                hourly wage
union           byte    %8.0g      UNION      union membership
earnweek        double  %12.0g                weekly earnings
uhrsworkorg     int     %8.0g                 usual hours worked per week,
                                                outgoing rotation groups
eligorg         byte    %8.0g      ELIGORG    (earnings) eligibility flag
cpi             double  %10.0g     CPI        monthly cpi
occupation      byte    %39.0g     OCCUP      occupation (1-10), 1990 basis
industry        byte    %45.0g     INDUST     industry (1-13), 1990 basis
topcode_earnw~k byte    %9.0g      TOPCODE    top Coded Values of weekly
                                                earnings
real_weekly_w~e float   %9.0g      RWWAGE     real weekly wage, Dec2020 dollars
log_rwage       float   %9.0g      LOGWAGE     log of real weekly wage
black           byte    %9.0g      BLACK      black race
white           byte    %9.0g      WHITE      white race
female          byte    %9.0g      FEMALE     female
age_squared     int     %9.0g      AGESQR     age squared
experience      float   %9.0g      EXPERIENCE
                                              experience squared
experience_sq~d float   %9.0g      EXPERIENSQR

birthyear       int     %9.0g      BIRTHYEAR
                                              birthyear
married         byte    %9.0g      MARRIED    married
single          byte    %9.0g      SINGLE     never married/single
in_metro        byte    %9.0g      INMETRO    resides in metro area
highschool      byte    %9.0g      HSDIPLOMA
                                              high school diploma
bachelors       byte    %9.0g      BACHELORS
                                              bachelor's degree
advancedegree   byte    %9.0g      ADVANDEGREE
                                              master's/professional/doctorate
                                                degree
--------------------------------------------------------------------------------
Sorted by:


    Variable |        Obs        Mean    Std. Dev.       Min        Max
-------------+---------------------------------------------------------
        year |  4,543,785    1999.885    11.25799       1982       2020
      serial |  4,543,785    34733.95    20218.13          1      74624
       month |  4,543,785    6.508832    3.454892          1         12
     hwtfinl |  3,598,573     2133.35    1163.542          0   34716.21
       cpsid |  4,543,785    2.00e+13    1.12e+11   1.98e+13   2.02e+13
-------------+---------------------------------------------------------
    asecflag |    376,916           2           0          2          2
        mish |  4,543,785    6.006275     1.99999          4          8
      region |  4,543,785    26.93982    10.56949         11         42
       metro |  4,103,294    2.385815    .9570676          1          4
      pernum |  4,543,785    1.592057      .86784          1         22
-------------+---------------------------------------------------------
      wtfinl |  4,543,785    2066.953    1149.187      22.24   34716.21
      cpsidp |  4,543,785    2.00e+13    1.12e+11   1.98e+13   2.02e+13
      relate |  4,543,785    233.2658    279.6828        101       1260
         age |  4,543,785    39.45745    11.72581         18         64
         sex |  4,543,785    1.435319    .4957988          1          2
-------------+---------------------------------------------------------
        race |  4,543,785    110.3926    30.51647        100        200
       marst |  4,543,785    2.693803    2.183694          1          7
      hispan |  4,543,785    30.63242    123.8374          0        902
     empstat |  4,543,785     10.0368    .2687989         10         12
    labforce |  4,543,785           2           0          2          2
-------------+---------------------------------------------------------
    classwkr |  4,543,785    22.62568     2.14044         13         28
   uhrsworkt |  2,919,565    92.43531    211.0783         35        997
   uhrswork1 |  4,543,785    69.31731     158.543          0        997
      wkstat |  4,543,785    10.64254    .4792518         10         11
       grade |  4,543,785    13.48514    2.606622          0         18
-------------+---------------------------------------------------------
        educ |  4,543,785    85.94442    23.06461          2        125
     higrade |  1,358,203    161.0388    26.76562          0        210
      earnwt |  4,543,785    8264.868    4601.888      90.01   133411.1
    qearnwee |  2,735,647    1.315316    1.879151          0          4
    hourwage |  4,543,785    461.2222    491.5728        .01     999.99
-------------+---------------------------------------------------------
       union |  4,280,071    1.186482    .4325809          1          3
    earnweek |  4,543,785    706.6487    529.1028         53    2884.61

 uhrsworkorg |  3,598,573    504.7679    478.7685          1        999
     eligorg |  4,543,785           1           0          1          1
         cpi |  4,543,785    173.0303    49.45039       94.3    260.474
-------------+---------------------------------------------------------
  occupation |  4,543,785    4.851989    2.779604          1          9
    industry |  4,543,785     7.77444    3.525187          1         13
topcode_ea~k |  4,543,785    .0243467     .154123          0          1
real_weekl~e |  4,543,785    1044.094    650.3768   145.0007   4649.542
   log_rwage |  4,543,785    6.784769    .5712777   4.976738   8.444524
-------------+---------------------------------------------------------
       black |  4,543,785    .1039261    .3051647          0          1
       white |  4,543,785    .8960739    .3051647          0          1
      female |  4,543,785     .435319    .4957988          0          1
 age_squared |  4,543,785    1694.385    956.6561        324       4096
  experience |  4,543,785    19.97448    11.91775          0         58
-------------+---------------------------------------------------------
experience~d |  4,543,785    541.0123    529.3152          0       3364
   birthyear |  4,543,785    1959.927    14.95969       1917       2002
     married |  4,543,785     .606468    .4885331          0          1
      single |  4,543,785    .2455193    .4303947          0          1
    in_metro |  4,543,785    .7885851     .408312          0          1
-------------+---------------------------------------------------------
  highschool |  4,543,785    .3491745    .4767093          0          1
   bachelors |  4,543,785    .1937438    .3952305          0          1
advancedeg~e |  4,543,785    .0971336    .2961396          0          1